.select-wrapper {
  width: 40%;
  padding: 10px 10px 10px 100px;

  .selected-options {
    display: inline-flex;

    .select-label {
      font-weight: 700;
      padding: 4px 8px;
    }

    .selected-badges {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
    }
  }

  .filter-wrapper {
    width: 100%;
    margin-top: 20px;
    display: inline-flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;

    select {
      width: 50%;
      font-weight: 700;
    }

    .button {
      margin-left: 20px;
    }
  }
}